<div class="card">
  <div class="card-img">
    <img [src]="player.avatar_url" alt="user avatar">
  </div>
  <div class="card-block">
    <h4 class="card-title">{{ player.name }}</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ player.bio }}</li>
    <li class="list-group-item">Location: {{ player.location }}</li>
    <li class="list-group-item" [hidden]="!player.company">Company: {{ player.company }}</li>
    <li class="list-group-item">Followers: {{ player.followers }}</li>
    <li class="list-group-item">Following: {{ player.following }}</li>
    <li class="list-group-item">Repos: {{ player.public_repos }}</li>

  </ul>
  <div class="card-footer">
    <a href="{{ player.html_url }}" target="_blank" class="btn btn-sm btn-link">View profile on github</a>
  </div>
</div>
