<app-loading [text]="'Waiting...'" *ngIf="loading"></app-loading>

<section *ngIf="playersInfo && !loading" class="row">
    <div class="col-lg-5">
        <app-player-info [player]="playersInfo[0]"></app-player-info>
    </div>

    <div class="col-lg-5 offset-lg-2">
        <app-player-info [player]="playersInfo[1]"></app-player-info>
    </div>

    <section class="col-lg-4 offset-lg-4 action-btn">
        <button class="btn btn-primary btn-block">Start Battle</button>
        <button class="btn btn-outline btn-block">Reselect Players</button>
    </section>
</section>

